[run]
source = mpai_cae_arp/

[report]
omit = */__init__.py

exclude_lines =
    pragma: no cover
    except OSError
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: